// .btn {
//   display: inline-flex;
//   padding: 10px 20px;

//   color: $color-default-white;

//   background-color: $color-neon-blue;
//   border: none;
//   cursor: pointer;

//   transition: opacity $trans-default;

//   &--red {
//     background-color: $color-torch-red;
//   }

//   &:disabled {
//     opacity: 0.5;

//     pointer-events: none;
//   }

//   @include hover-focus {
//     opacity: 0.8;
//   }
// }

.button {
  display: inline-block;
  padding: 0;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  &:focus-visible {
    outline: 2px solid $color-deep-sky-blue--dark;
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }
}
